Source: libapache2-mod-ucam-webauth
Section: httpd
Priority: extra
Maintainer: UCS Raven Support <raven-support@ucs.cam.ac.uk>
Uploaders: Matthew Vernon <mcv21@cam.ac.uk>
Build-Depends: debhelper (>=7.0.50~), libssl-dev, dh-apache2, apache2-dev
Standards-Version: 3.9.4
Homepage: http://raven.cam.ac.uk/project/apache/

Package: libapache2-mod-ucam-webauth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: University of Cambridge Web Authentication module for Apache 2
 mod_ucam_webauth provides an interface to the University of Cambridge Web
 Authentication system for Apache.
